body {
	padding-top: 70px;
	background-color: skyblue;
}

.well {
   background-color: rgba(245, 245, 245, 0.4);
}

#myCarousel {
    width: 100%;
    height: 100%;
}



#img {
	width: 250px;
	height: 250px;
	margin: auto;
}

#car-img-1,
#car-img-2,
#car-img-3,
#car-img-4 {
	padding-top: 25px; 
}

button {
	margin-top: 30px;
	margin-bottom: 30px;
	width: 30%;
}

#leftside {
	text-align: center;
}


#introt {
	width: 100%;
}

#intro {
	background-color: skyblue; 
}

/*.img-logo {
	width: 150px;
	height: 15px;
	margin: 0 auto;
	margin-top: 30px;
}*/

#disclamer {
	background-color: #3c7be0;
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    'enix nintendo'
    'gameboy gameboysp';
  grid-gap: 10px;
  padding: 10px;
  text-align: center;
  justify-items: center;
  align-items: center;
}

.item1 {
	grid-area: enix;
}

.item2 {
	grid-area: nintendo;
}

.item3 {
	grid-area: gameboy;
}

.item4 {
	grid-area: gameboysp
}

/* For Mobile */
@media only screen and (max-width: 767px) {
}


/* For Tablet */
@media only screen and (min-width: 768px) and (max-width: 992px) {
}

/* For Desktop */
@media only screen and (min-width: 993px) {
}