body {
	padding-top: 70px;
	background-color: skyblue;
}

th {
	background-color: #437ad3;
	width: 16.66%;
}


td {
	background-color: #D2EDFF;
	width: 16.66%;
}

.table-data1 {
	width: 16.66%;
}

#popcon {
	color: red;
}