* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}




/* For Mobile */
@media only screen and (max-width: 767px) {
	body {
		background-image: url(../images/bg2.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		/*background-position: left;*/
	}

	img {
	width: 230px;
	height: 110px;
	display: none;
	}

	#head{
		text-align: right;
		margin-top: 130px;
		margin-right: 15px; 
		font-size: 100px;
	}
}


/* For Tablet */
@media only screen and (min-width: 768px) and (max-width: 992px) {
	body {
		background-image: url(../images/bg2.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		/*background-position: center;*/
	}

	img {
	width: 230px;
	height: 110px;
	display: none;
	}

	#head{
		text-align: right;
		margin-right: 30px;
		margin-top: 400px;
	}

	h3 {
		font-size: 2.5em;
	}
}

/* For Desktop */
@media only screen and (min-width: 993px) {
	body {
		background-image: url(../images/bg1.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		/*background-position: center;*/
	}

	img {
		width: 340px;
		height: 220px;
	}

	h3 {
		font-size: 4em;
	}
}